<body>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js"></script>
    </head>

    <div class="chat-box">
        <h2><%= title %></h2>
        <form>
            <!-- user -->
            <label for="user">Your Name:</label>
            <input
                type="text"
                name="user"
                id="user"
                required
                placeholder="Can be a username; @ is auto-appended"
                autofocus
            />
            <!-- message -->
            <label for="msg">Message:</label>
            <input
                type="text"
                name="msg"
                id="msg"
                required
                placeholder="Chat..."
                maxlength="100"
            />
            <button type="button" class="hidden">Send Message</button>
        </form>
    </div>
</body>

<script type="module">
    import { ws, renderMsg } from '/js/ws.js';
    import { filterMessage, redirectBadUser } from './js/filterMessage.js';

    const form = document.querySelector('.chat-box > form');
    const nameInput = document.querySelector('input#user');
    const msgInput = document.querySelector('input#msg');
    const submitBtn = document.querySelector('form > button[type="button"]');

    nameInput.addEventListener('keyup', inputHandler);
    msgInput.addEventListener('keyup', inputHandler);
    submitBtn.addEventListener('click', sendHandler);

    function inputHandler(e) {
        if (nameInput.checkValidity() && msgInput.checkValidity()) {
            submitBtn.classList.remove('hidden');

            if (e.key === 'Enter') {
                sendHandler();
            }
        } else {
            submitBtn.classList.add('hidden');
        }
    }

    function sendHandler(e) {
        confetti({ particleCount: 300, spread: 150 });

        if (filterMessage(msgInput.value) > 0) {
            redirectBadUser();
            return;
        }

        // send to WebSocket Server
        ws.send(
            JSON.stringify({
                user: nameInput.value,
                msg: msgInput.value,
            })
        );

        form.reset();
    }
</script>
