<header>
    <nav>
        <a href="/">Home</a>
        <% if (locals.authenticated) { %>
            <a href="/admin/panel">Admin Panel</a>
            <a href="/logout">Logout</a>
        <% } else { %>
            <a href="/login">Login to Admin Panel</a>
        <% } %>
        <a href="/search">Search</a>
    </nav>
</header>
