body {
    margin: 0;
}

input,
button {
    appearance: none;
    /* outline: none; */
    border: none;

    &:focus {
        outline: none;
    }
}

button {
    background: none;
}

li {
    list-style: none;
}
