@import 'reset.css';
@import 'variables.css';
@import 'header.css';
@import 'footer.css';
@import 'admin-panel.css';
@import 'animations.css';

body {
    background-color: var(--bkg-secondary-clr);
    font-family: var(--ff-main);
}

#hero {
    h1 {
        margin: 0 auto;
        width: max-content;
        padding: var(--pd-title);
        color: var(--clr-text-primary);

        a.source-code {
            position: relative;

            &:link,
            &:visited {
                text-decoration: none;
            }

            &:after {
                content: 'Github';
                position: absolute;
                bottom: 20px;
                left: 10px;
                color: black;

                width: max-content;
                padding: 0.3rem 0.4rem;
                border-radius: 6px;
                background-color: var(--clr-accent-primary);
                border: 2px solid var(--border-text-clr);

                font-size: 0.65rem;
            }

            /* Thanks @StackOverflow: https://stackoverflow.com/a/13234028/21600888 */
            &:hover:after {
                color: black;
                background-color: var(--clr-text-secondary);
            }
        }
    }
}

main {
    width: 60%;
    margin: 0 auto 4rem;
}

h1 {
    width: max-content;
    margin: 0 auto;
    color: var(--clr-text-primary);
}

.hidden {
    display: none;
}

ul.messages {
    background-color: var(--bkg-clr);
    padding: var(--pd-messages);
    border-radius: 12px;

    .msg-list {
        /* flex */
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 2rem;
        height: 35%;
        overflow-y: scroll;
    }

    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Inter';
    }

    .date {
        /* font-size: 0.8rem; */
        color: gray;
    }
    .text {
        width: 60%;
        text-align: left;
        color: var(--clr-text-secondary);
    }
}

.username {
    background-color: var(--clr-accent-primary);
    font-weight: bold;
    padding: 0.3rem;
    border-radius: 6px;

    margin-right: 0.5rem; /* to push message a bit */

    &:hover {
        background-color: var(--clr-accent-primary);
        color: var(--bkg-secondary-clr);
    }
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;

    button {
        cursor: pointer;
        /* padding: 0.5rem 1rem; */
        background-color: var(--clr-accent-primary);
        font-size: var(--fs-cta);
        font-weight: bold;

        &:hover {
            background-color: var(--clr-accent-third);
            color: var(--bkg-cta-hover-txt-clr);
        }
    }

    input,
    button {
        border-radius: 6px;
    }

    input {
        background-color: var(--bkg-secondary-clr);
        color: white;
    }

    label {
        color: var(--clr-text-secondary);
    }

    button,
    input,
    input {
        padding: var(--pd-input);
    }

    /* UI Validation */
    input:valid {
        border: 3px solid var(--clr-accent-primary);
    }
    /* input:invalid {
        border: 1px solid var(--input-invalid);
    } */
}

#search {
    text-align: center;

    .search-results {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;

        li {
            color: var(--clr-text-secondary);
            /* list-style: circle; */
            background-color: white;
            color: var(--clr-accent-third);
            border-radius: 6px;
            padding: 1rem;
        }
    }
}

/* LIVE CHAT ICON */
.live-chat {
    display: flex;
    align-items: center;
    /* gap: 2rem; */
    padding: var(--pd-live-chat);
    color: var(--clr-text-primary);
    margin-bottom: 1.5rem;
    /* font-size: rem; */
}

/* Thanks @Alexey Kulesh: https://codepen.io/eereeska/pen/gOPdBZg */
.circle {
    /* position: absolute; */
    /* left: 50%; */
    /* top: 50%; */
    transform: translateX(-50%) translateY(-50%);
    width: 10px;
    height: 10px;

    &:before {
        content: '';
        position: relative;
        display: block;
        width: 250%;
        height: 250%;
        box-sizing: border-box;
        margin-left: -75%;
        margin-top: -75%;
        border-radius: 45px;
        background-color: var(--bkg-live-icon);
        animation: pulse 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    }

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: var(--bkg-live-icon);
        border-radius: 50px;
        animation: circle 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
    }
}

.chat-box {
    margin: 1.2rem 0;
    color: var(--clr-text-primary);
}

/* RESPONSIVENESS */
@media only screen and (max-width: 600px) {
    main {
        width: 90%;
    }

    ul.messages {
        /* li {
            width: max-content;
            display: block;
        } */
    }

    .date {
        display: none;
        /* font-size: 0.5rem; */
    }

    #search {
        .search-results {
            display: block;

            li {
                margin-bottom: 1rem;
            }
        }
    }
}
