@import 'reset.css';
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);

body {
    /* background-color: red; */
    background-color: rgb(49, 217, 206);
    font-family: 'Inter', sans-serif;
}

h1 {
    margin: 0 auto;
    width: max-content;
    padding: 1.5rem;
}

.hidden {
    display: none;
}

ul.messages {
    width: 50%;
    margin: 0 auto;
    background-color: rgb(234, 234, 234);
    padding: 1.5rem;

    li {
        /* width */
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: space-between;

        span {
            /* background-color: blue; */
        }
    }

    .username {
        color: aquamarine;
        font-weight: bold;
    }
    .date {
        /* font-size: 0.8rem; */
        color: gray;
    }
    .text {
        width: 60%;
    }
}

form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;

    button {
        cursor: pointer;
        /* padding: 0.5rem 1rem; */
        background-color: red;
        font-size: 1rem;

        &:hover {
            background-color: rgb(113, 27, 27);
            color: white;
        }
    }

    input,
    button {
        border-radius: 6px;
    }

    button,
    input#user,
    input#msg {
        padding: 1rem;
    }

    /* UI Validation */
    input:valid {
        border: 1px solid aquamarine;
    }
    /* input:invalid {
        border: 1px solid red;
    } */
}

/* HEADER */
header {
    nav {
        a:link,
        a:visited {
            color: black;
            text-decoration: none;
        }

        li {
            font-size: 1.4rem;
            background-color: red;
            width: max-content;
            padding: 0.5rem 1rem;
            border-radius: 6px;
        }
    }
}

/* ADMIN PANEL */
a.homepage {
    display: block;
    margin: 1.5rem 0;
    font-size: 1.5rem;
}

.admin-panel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 30%));
    gap: 2rem;

    div.msg {
        padding: 2rem;
        border-radius: 6px;
        background-color: black;
        color: white;
    }

    span.created_by {
        color: aquamarine;
    }

    button.delete {
    }
}
