<body>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
    </head>

    <h1><%= title %></h1>

    <div class="admin-panel">
        
        <% if (messages.length === 0) { %>

            <p>Currently there are no messages.</p>

        <% } else { %>
                <% messages.forEach( (msg, index) => { %>
                    <div class="msg">
                        <p class="content"> <%= msg.msg %> </p>
                        <span class="created_by"> <%= msg.user %></span>

                        <form action="/admin/delete/<%= index %>" method="post">
                            <button type="submit" class="delete">Delete</button>
                        </form>
                    </div>
                <% }) %>
        <% } %>
    </div>

</body>